#map{
    width: 100% !important;
    height: 100% !important;
    background-color: #F6F6F4;
}

.btn-regresar{
    position: fixed !important;
    top: 40px !important;
    right: 12px !important;
    font-size: 23px !important;
}